#banner {
	background-image: url("https://picsum.photos/1000/600/?random");
	background-size: cover;
	padding:10px 20px;
	text-align: center;
	
}

#banner h1 {
	text-transform: uppercase;
	

}

#banner p {
	font-size: 16px;

}

.banner-text {
	width: 80vw;
	display:inline-block;
	
}