
.btn {
	font-size: 12px;
	padding: 8px 18px;
	text-decoration: none;
	color: white;
	border-radius: 0px 0px 0px 0px;
	border: none;
}

.btn-container {
	margin: 20px 0px 0px 0px;
}

.btn:hover {
	opacity: .9;
	color: black;
}

