.card {
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	background: linear-gradient(135deg, 
		rgba(0,0,0,1) 0%, 
		rgba(0,0,0,0.7) 50%),
	url("https://picsum.photos/500/300/?random");	
	background-size: cover;
	/*background-image: url("../../images/testimg.jpg"); a reminder of file paths*/
}

/*
.card p {
	text-align: left;
}
 
.card h2 {
	text-align: left;
}
*/