.datacard {
	padding: 10px;
	height: 200px;
	position: relative;
	margin-bottom: 20px;
	} 

.datacard:hover {
	background: rgba(9,9,9,1)
}

.datacard-event {
background: linear-gradient(90deg,
	rgba(0,0,0,1) 0%,
	rgba(0,0,0,.4) 100%),
url("https://picsum.photos/200/150/?random");
background-size: cover;

	} 

.datacard i {
	font-size: 18px;
}



.datacard-title {
	position: absolute;
	left: 70px;
	top: 10px;
	
}
.datacard-title h5{
	margin: 0;
}

.datacard-stats{
	position: absolute;
	top: 10px;
	right: 60px;
}
.datacard-badge{
	position: absolute;
	right: 0px;
	top: 0px;
}

.datacard-descript-container {
	padding:10px;
}

.datacard-descript {
	font-size: 12px;
	text-align: center;
	display: inline-block;		
}

.tags-container {

}

.datacard-tags {
	position: absolute;
	bottom: 5px;
	font-size: 12px;


}
.datacard-tags p {
	margin: 0;
	margin-top: 2px;
}

.tags-loc {
	bottom: 65px;
}

.tags-project {
	bottom: 40px;
}

.tags-skill {

}

.skill {
	padding: 5px 8px;
	background-color: #2B2B2B;
	margin: 0;

}

.project {
	padding: 5px 8px;
	background-color: #2B2B2B;

}

.tags-loc {
	color: #4A4A4A;
}
