

.dropdown-menu {
	box-shadow: none;
	border-radius: 0;
	border: none;
	background-color: #D8D8D8;
	margin: 5px 0px 0px 0px;
	padding: 0;
	right: 0;
	left: 0;
}


.dropdown-menu > li > a {
	font-weight: bold ;
	line-height: 40px ;
	color: rgb(62,62,62);
	text-align: center;
	
	}

.dropdown-menu > li > a:hover {	
	background-color: #9B9B9B;
	color: black;
}

