.nav-bar {
	
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	}

.nav-bar-md {
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}



.nav-menu-section {
	display: flex;
	align-items:center;

}


.flex {
	display:flex;
}

.flex-center {
	justify-content: center;
}

.headspace {
	margin: 10px 0px;
}